[2018-06-07 08:58] liuzhuonan opened #1 "OutputFile error"
This is the outputFile.![image](https://user-images.githubusercontent.com/23043832/41089174-c74d186a-6a73-11e8-8e62-90ce3ad94550.png)

And this is the original.
![image](https://user-images.githubusercontent.com/23043832/41089228-f367470e-6a73-11e8-94cf-c51803158495.png)
Is it a problem?

[2018-06-12 03:33] gaohuijue opened #2 "The generated color.less is not correct if two color variables are same."
https://github.com/mzohaibqc/antd-theme-generator/blob/aa5a08baec241775f63e7b0eba38a9014f1e6f04/index.js#L326

variables.less
[code]
color.less
[code]

Sory,my English is poor.
I think you may warn developers notify this.Tell them not set same color value.

[2018-06-12 08:50] mzohaibqc commented on #2
@gaohuijue You are right. Assigning same default value to color variables does not work. I'll add this in documentation

[2018-07-16 12:14] bluesh commented on #1
Because your color has same value, maybe

[2018-08-16 09:54] gwmaster opened #3 "i try send size "14px" but it dont work"
AntTheme.js run
window.less.modifyVars(vars)
http://gwmaster.byethost32.com/starterProject/

https://bitbucket.org/gwmaster_gwm/multiprojectstarter/src/master/

[2018-08-27 11:42] cipchk opened #7 "Cannot find module 'less-bundle-promise'"
最新版本会产生以下错误：

[code]

[2018-08-27 11:43] chenshuai2144 commented on #7
人工装一下这个包把

[2018-08-27 11:43] mzohaibqc commented on #7
@cipchk This is my fault. I'm fixing this

[2018-08-27 11:51] cipchk commented on #7
Hi @mzohaibqc  @chenshuai2144

I hope to reopen issues, and need to track it.

[2018-09-04 21:15] mzohaibqc commented on #7
@cipchk This has been fixed. Use the lates version

[2018-09-05 00:39] cipchk commented on #7
@mzohaibqc thanks for the work

[2018-09-07 08:53] Dpy0407 opened #8 "error on such 'background:url(./image/test.svg)'"
For webpack result (config the image resource to outputDir), the compile result will be 'background:url(outputDir/image/test.svg)' & webpack will copy the image resource to the outputDir, it will work well.
But for 'antd-theme-generator', its result will be 'background:url(image/test.svg)' , but the test.svg be put in outPutDir by webpack, so this url will work wrong.
I think if is better to ignor

[2018-09-08 17:04] #7 closed

[2018-10-18 06:57] wangmengHB opened #9 "variables defined as hsv(n,n,n) format can not be customized"
For Example: the below variables are not in the mappings:
'@border-color-base',
'@background-color-light',
'@border-color-split',
'@input-placeholder-color',
So you can not use less.modifyVars to change theme instantly.

[2018-10-18 12:43] wangmengHB commented on #9
@mzohaibqc  Not Match.
hsv is not considered as a valid color.
`/*
  This function takes color string as input and return true if string is a valid color otherwise returns false.
  e.g.
  isValidColor('#ffffff'); //true
  isValidColor('#fff'); //true
  isValidColor('rgba(0, 0, 0, 0.5)'); //true
  isValidColor('20px'); //false
*/`

[2018-10-18 14:02] mzohaibqc commented on #9
I'll fix this soon but any PR is welcome

[2018-10-18 21:55] mzohaibqc commented on #9
@wangmengHB Is `hsv(n, n, n)` is a valid format for color in css? From this, it seems it's invalid https://www.w3schools.com/cssref/css_colors_legal.asp

[2018-10-19 02:55] wangmengHB commented on #9
@mzohaibqc
I know hsv(n, n, n) is not a valid format for color in css.
The point is that, in ant design official site, it says it support to customize '@border-color-base'.
But actually it does not support to customize it dynamically with antd-theme-generator.
(https://ant.design/docs/react/customize-theme-cn#Ant-Design-%E7%9A%84%E6%A0%B7%E5%BC%8F%E5%8F%98%E9%87%8F).
The root cause is that:
in "co

[2018-10-19 03:12] Xiodra opened #10 "Do you support antd and antd-mobile at the same time?"
My project uses antd and antd-mobile at the same time，so，does this module support at the same time?

[2018-10-19 14:15] mzohaibqc commented on #10
This only depends on folder structure of less from `antd` node_modules package. if that is there, it will work

[2018-10-19 14:16] mzohaibqc commented on #9
@wangmengHB Thanks for clarification, I'll fix this very soon

[2018-10-25 00:01] mzohaibqc commented on #9
@wangmengHB I've fixed this issue and updated npm package `antd-theme-generator@1.1.4` and also webpack plugin to `antd-theme-webpack-plugin@1.1.9`.
Don't forget to ⭐ ⭐ ⭐ :)

[2018-10-25 00:04] mzohaibqc commented on #3
Kindly add some description. This module is just to update color specific style and not the sizes, fonts etc

[2018-10-25 00:04] #3 closed

[2018-10-30 12:32] wangmengHB commented on #9
@mzohaibqc I check it. It is fixed. Thanks.

[2018-10-30 12:32] #9 closed

[2018-12-12 04:06] afc163 opened #13 "Install with warnings"
[code]

[2018-12-13 04:00] mzohaibqc commented on #13
@afc163 I'll fix this soon

[2018-12-23 01:07] mzohaibqc commented on #13
@afc163 I've updated `less` to latest version and there will be no warnings. New version is available now
`npm i antd-theme-generator@1.1.5`

[2018-12-23 05:18] #13 closed

[2019-01-08 08:15] githubCK opened #14 "antd新增的两个less变量@white（#ffffff）和@black(#000000)导致generate出来的color.less错误"

[2019-01-08 11:16] mzohaibqc commented on #14
@githubCK Thanks for reporting this issue. I'll fix this soon

[2019-01-08 13:43] sundjly opened #15 "cnpm中自动添加‘\9‘导致Chrome中报错"
cnpm中自动添加‘\9‘导致Chrome中报错
![image](https://user-images.githubusercontent.com/23523003/50834204-60b0e400-138e-11e9-9be7-2ccd479cdfe7.png)

[2019-01-09 01:41] sundjly commented on #15
目前通过锁定版本解决了
[code]

[2019-01-10 02:08] mzohaibqc commented on #14
This is due to Ant Design `popover` style error
https://github.com/ant-design/ant-design/issues/14148
https://github.com/ant-design/ant-design/blob/master/components/popover/style/index.less#L58
[code]

[2019-01-10 02:12] mzohaibqc commented on #15
@sundjly This is due to Ant Design popover style error
ant-design/ant-design#14148
https://github.com/ant-design/ant-design/blob/master/components/popover/style/index.less#L58
[code]

You can use some previous version of `antd` to fix this issue if you are not using any features or fixes in this release

[2019-01-10 02:13] mzohaibqc commented on #15
@chenshuai2144 Just FYI

[2019-01-10 02:48] afc163 commented on #15
It is a IE9 css hacks, we can't remove it if there is another solution.

[2019-01-10 03:02] mzohaibqc commented on #15
@afc163 Thanks for letting me know. I'll handle this somehow.

[2019-01-10 04:00] mzohaibqc commented on #15
@sundjly Above mentioned issue has been fixed in `antd-theme-generator@1.1.6` so update your project dependency to fix this issue.

[2019-01-10 04:00] #10 closed

[2019-01-10 04:00] mzohaibqc commented on #14
@githubCK Above mentioned issue has been fixed in `antd-theme-generator@1.1.6` so update your project dependency to fix this issue.

[2019-01-10 04:02] mzohaibqc commented on #8
@Dpy0407 Update to latest version and it will be fixed. At the time of writing, it is  `antd-theme-generator@1.1.6`

[2019-01-10 04:02] #2 closed

[2019-01-10 04:04] mzohaibqc commented on #1
Try updating to latest version. At the time of writing, it is `antd-theme-generator@1.1.6`

[2019-01-10 04:04] #1 closed

[2019-01-15 11:43] sundjly commented on #15
Thanks for letting me know.

[2019-01-15 11:43] #15 closed

[2019-01-16 16:53] comerc opened #16 "Feature request: generate theme.css"
I want to generate theme.css after use this cool utility (for deploy my app without less).

[2019-01-16 17:09] comerc opened #17 "Feature request: themeVariables as object with values instead of array"
I want to pass themeVariables as object with values instead of array in options of generateTheme. It is allow to me use CSS variables from JS (as CSS-IN-JS,  for example) .

[2019-01-16 17:11] comerc opened #18 "Bug report: generateTheme does not work without option mainLessFile"
[code]

[2019-01-16 23:20] mzohaibqc commented on #17
Can you add sample code for better understanding

[2019-01-16 23:22] mzohaibqc commented on #16
@comerc `theme.css` can't be used to update/modify theme in browser like we have in Ant Design Pro. What's your use case. If you want a single theme then there is even no need to use this plugin

[2019-01-17 20:11] comerc commented on #17
Instead of this code:
[code]
I want to use this code:
[code]
(themeVariables as object w/o varFile and mainLessFile)

Thanks!

[2019-01-17 20:26] comerc commented on #16
I will add code that will switch the theme between theme1.css & theme2.css w/o clien-side less. But I want to be able to generate theme.css for this usecase. For example, my app has two mode: 1) for designer with themes generator, 2) for enduser without clien-side less.

[2019-01-17 20:55] comerc commented on #17
(FYI) I implemented your example with CRA 2.0: https://github.com/comerc/minsk4/tree/antd-theme-generator

[2019-01-18 01:55] mzohaibqc commented on #16
You can compile generated `less` string to css using `less.js`. If you have `antd-theme-generator` installed, `less.js` is also installed. so you can do something like
[code]

[2019-01-19 17:06] #16 closed

[2019-01-19 17:15] comerc commented on #16
Thanks! It's work fine:

[code]

Please release issue #17.

[2019-01-19 17:47] mzohaibqc commented on #17
@comerc I am too busy these days, will try to add this soon

[2019-02-15 06:13] blackcater opened #19 "Bug report: themeVariables cannot support @body-background and @component-background"
When I set `themeVariables` to `['@body-background']` or `['@component-background']`.

It will report a bug in Developer Tools.

![image](https://user-images.githubusercontent.com/9465551/52837821-4c999880-312b-11e9-9f0b-c21c5d91031d.png)

When I use `@body-background`, `color.less` file will contain `@body-backgroundbe6`.

![image](https://user-images.githubusercontent.com/9465551/52837932-c9c50d

[2019-02-15 13:35] mzohaibqc commented on #19
@blackcater Can you create a repo and reproduce this so I can look into that

[2019-02-18 13:43] blackcater commented on #19
[Here is a repo](https://github.com/blackcater/antd-theme-generator--19).

It's my fault. I cannot find the below tips.

I will close this issue.

Thanks a lot.

[2019-02-18 13:43] #19 closed

[2019-02-18 14:45] mzohaibqc commented on #19
@blackcater Thanks for your comment. It will help other users to avoid such situation.

[2019-03-14 08:51] wangzhidavid opened #20 "ie11"
Ie11 doesn't work, but Firefox and chrome do

[2019-04-10 14:53] chentianxin opened #21 "input:focus后box-shadow不会改变"
antd Input antd Select 聚焦后box-shadow颜色不会随修改色改变

[2019-04-27 12:08] hong-boy opened #22 "[support] Can we support other variables ( such as: @border-radius-base) ?"

[2019-04-29 14:47] chentianxin commented on #22
https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

[2019-04-30 01:45] mzohaibqc commented on #22
@hong-boy @chentianxin
Not sure but this might be achieved but it will require a complete rewrite or at least will require a different approach to get this done. I'll try to do this on weekends.

[2019-05-12 16:12] #18 closed

[2019-07-11 10:09] us6002 opened #24 "mainLessFile是文件路径字符串，那generateColorMap(mainLessFile)什么也得不到"
https://github.com/mzohaibqc/antd-theme-generator/blob/fb7540449f4c372f84f7339c18fb60210785e99e/index.js#L315

mainLessFile是文件路径字符串，那generateColorMap(mainLessFile)不会返回什么，生成不了自定义ColorMap。

"mainLessFile" is just a path string, So `generateColorMap(mainLessFile)` would not return the colorMap of your own variables.less

[2019-07-22 06:37] cszo opened #25 "执行多次最后编译生成的color.less越来越大，不是完全覆盖原来的吗？"
if (outputFilePath) {
          fs.writeFileSync(outputFilePath, css);
          console.log(
            `🌈 Theme generated successfully. OutputFile: ${outputFilePath}`
          );
        } else {
          console.log(`Theme generated successfully`);
        }
        cssCache = css;
        return resolve(css);
      })

[2019-08-20 01:37] exvu commented on #8
@Dpy0407 Have you solved this problem?

[2019-08-20 02:02] Dpy0407 commented on #8
@exvu  sorry, I am working on another project now, So, I am not sure if the problem has been solved. maybe you can have a try, as @mzohaibqc said that it has been solved after version @1.1.6

[2019-08-27 21:01] mzohaibqc commented on #25
@cszo Kindly translate the heading into English for all others who have a similar issue. I'll translate and will look into this,

[2019-09-30 08:52] youyeke commented on #25
you can try:
[code]

[2019-10-08 02:25] youyeke opened #26 "can i use '!important' ?"
I hope to improve CSS Specificity when using Dynamic Import.

The Dynamic Import of `vendor.chunk.css` will overwrite my `color.less`.

[code]

[2019-10-09 09:06] lPaths commented on #8
problem still there, I'm using `antd-theme-generator@^1.1.7`

[2019-12-04 08:30] qizhancheng opened #27 "Theme switching cannot modify colors using fade method"
Theme switching cannot modify colors using fade method

[https://github.com/ant-design/ant-design/issues/20079](https://github.com/ant-design/ant-design/issues/20079)

[2019-12-06 08:31] LXIACHUA opened #28 "window.less.modifyVars is not working in sometimes"
When I set the color of layout-header-background in variables.less，then window.less.modifyVars({'@layout-header-background':'#124fff'}) didn't work. The same thing happened at @text-color.
<img width="275" alt="_20191206162829" src="https://user-images.githubusercontent.com/42471384/70308249-c67b4980-1845-11ea-9a3d-618efe2690d2.png">
<img width="279" alt="_20191206162851" src="https://user-images.

[2019-12-13 11:21] yangzhennupt opened #29 "defined a variable caused other components style changed"
I defined some variables [ '@primary-color',
    '@text-color',
    '@label-color',
    '@component-background',
    '@border-color-base',
    '@item-active-bg',
    '@tabs-card-head-background',
    '@tabs-card-active-color'] in options to change;
and  also defined in variables.less.

when Theme generated, I found that most components like Select‘s style also changed。

I find some unintelligible

[2019-12-18 08:44] zhang504988670 opened #30 "antd 更新皮肤Dark模式，如何进行替换。"

[2019-12-20 06:02] #28 closed

[2020-01-03 21:50] mzohaibqc commented on #29
Do you have unique values for your variables?

[2020-01-07 05:59] #30 closed

[2020-01-07 06:00] zhang704 opened #31 "当加入@body-background替换颜色时，将Button以及其他组件的color替换为@body-background"
![image](https://user-images.githubusercontent.com/18161513/71871987-0049b380-3156-11ea-8614-ac8b14c524da.png)
themeVariables: [
    '@primary-color',
    "@text-color",
    "@heading-color",
    "@text-color-secondary",
    "@disabled-color",
    "@body-background",
  ]

[2020-01-10 00:19] mzohaibqc commented on #31
Explain your problem first.

[2020-01-10 00:25] mzohaibqc commented on #28
@LXIACHUA Use *6* character *unique* color codes only. it does not work well with color names and 3 character color codes like #ccc. I hope this will fix your problem.

[2020-01-10 00:32] mzohaibqc commented on #27
No, you need to choose unique color values like this `#ccdddd` containing 6 hex values. You can calculate the color in some online less console/playground and the use that color in your code.

[2020-01-13 00:55] zhang504988670 commented on #31
当背景色替换为黑色时，Antd Button的字体颜色也随之改变为背景色的颜色（黑色），那样应该是不正确的。
查看编译出来的color.less文件，发现其中很多组件的样式颜色都替换成了@body-backgroud。
正确的不应该是当替换@body-backgroud时，只替换body里的颜色值吗？

[2020-02-13 15:11] gezichenshan opened #33 "Some style property were not transpiled."
The options:
[code]

The antdStylesDir here is **./node_modules/antd/es/button'**. So the entry is just **./node_modules/antd/es/button/style/index.less'**

I just rewrite the **./node_modules/antd/es/button/style/index.less'** to be:

[code]

Then I do (NOTE the param **options** is the one above):
[code]
The output **test.less** is:
[code]
You will see some properties in **.caonidie** like **pos

[2020-02-14 03:02] gezichenshan commented on #33
Oh I see:
This lib filters out the property which is not related to color.

[2020-02-14 20:50] mzohaibqc commented on #33
@gezichenshan this package is only for color related styles

[2020-02-14 20:50] #33 closed

[2020-03-20 14:54] senwong commented on #24
I hava same problem

[2020-04-14 13:42] NitroBAY opened #38 "It breaks back-top"
It produces an ".ant-back-top-icon" with a background whose last characters are 1% no-repeat instead of 100%/100% no-repeat

[2020-04-15 03:13] hellomrbigshot opened #39 "customColorRegexArray doesn't works"
I try to replace [@primary-1](https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less)，in  ```Antd``` it shows like
[code]
i try to replace it to ```#111```, so i set
[code]
and
[code]
but this color doesn't change.
Other normal color like @primary-color changes.

[2020-04-18 06:38] jokingzhang commented on #8
problem still there, I'm using antd-theme-generator@^1.1.9

[2020-04-20 20:59] mzohaibqc commented on #38
You should have spend few minutes to describe your problem instead of just two lines. No one can understand what are you talking about

[2020-04-21 00:17] NitroBAY commented on #38
I use this package and when I call   window.less.modifyVars() the CSS injected into the browser is invalid : there is a rule for ".ant-back-top-icon" which instead of having its background property set to `url(data:image`theimagedata`100%/100% no-repeat)` it is being set to `url(data:image`theimagedata`1% no-repeat)`
SO this package does properly set the background property of ".ant-back-top-icon"

[2020-04-22 07:23] andylidong commented on #8
In the reduceplugin method, you can add the following code：

![image](https://user-images.githubusercontent.com/18454971/79952589-3c0e4c00-84ad-11ea-964f-eda858cc900e.png)

[2020-04-25 11:02] mzohaibqc commented on #8
@Dpy0407 @exvu @lPaths @jokingzhang

This issue has been resolved and package version has been updated
use `antd-theme-generator@1.2.0` in order to fix this issue

If you are using `[antd-theme-webpack-plugin](https://github.com/mzohaibqc/antd-theme-webpack-plugin)` then you need to use version `1.3.2`

Thanks a lot, @andylidong for this solution.

[2020-04-25 11:03] #8 closed

[2020-04-25 12:57] mzohaibqc commented on #38
@NitroBAY I've fixed this issue and now all css statements matching `/url\(.*\)/g` will be removed so you will not face this issue again.
Install latest package from npm which is
`ant-theme-generator@1.2.1`
`antd-theme-webpack-plugin@1.3.2`

[2020-04-25 13:05] mzohaibqc commented on #39
@hellomrbigshot Show me your configuration options, seems like you are not passing `@primary-1` in themeVariables.

[code]

[2020-04-26 03:38] hellomrbigshot commented on #39
My options
[code]

[2020-04-26 12:41] vreddy448 opened #41 "SyntaxError: Inline JavaScript is not enabled. Is it set in your options?"
SyntaxError: Inline JavaScript is not enabled. Is it set in your options?
in color.less on line 123, column 1:

122// https://github.com/ant-design/ant-motion/issues/44
123.bezierEasingMixin();

can you please help me to implement live theme capability for my application with antd component library

[2020-04-26 14:51] mzohaibqc commented on #41
You need to allow run javascript in less-loader configurations. Read the docs how to setup ant design with create-react-app

https://ant.design/docs/react/use-with-create-react-app#Customize-Theme

[code]

[2020-04-26 14:55] mzohaibqc commented on #39
@hellomrbigshot `themeVariables` is an array of variable names not the object.  you can  use `Objects.keys(themeVariables)` to get array of keys (variable names)

[code]

[2020-04-28 06:12] hellomrbigshot commented on #39
I have done this in my code. You can see it in my code
[code]

[2020-04-28 16:24] mzohaibqc commented on #24
I don't understand Chinees language so kindly mention your issue in English.

[2020-05-01 02:48] mzohaibqc commented on #39
@hellomrbigshot Why do you want to use `@primary-1: color(~`colorPalette('@{primary-color}', 1) `);` where you can sue `@primary-color`

[2020-05-03 16:39] hellomrbigshot commented on #39
I just want to change backgound of `.ant-select-item-option-selected`.

[2020-05-11 07:49] hellomrbigshot commented on #39
It doen't work for me by updating `@select-item-selected-bg`，but it works for me by updating `@primary-color`.
The problem was caused by `@link-color`. I upload a [demo](https://github.com/hellomrbigshot/theme-demo)
When i edit `@link-color` after `@primary-color`，`@primary-color` will be covered by `@link-color`. In [default.less](https://github.com/ant-design/ant-design/blob/master/components/st

[2020-05-19 09:43] afc163 opened #42 "antd-theme-generator@1.2.3 throws error"
[code]

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/507615/82311328-23d01500-99f8-11ea-96fb-448c90313d81.png">

[code]

`1.2.2` works fine.

[2020-05-19 13:25] mzohaibqc commented on #42
@afc163 I ran it locally and was able to reproduce it. There is missing parameter `antDir: path.join(__dirname, '../node_modules/antd')` in options which I added

[code]

But now I am getting for `antd-pro-merge-less` since some files are using some less variables which are not imported e.g.

![image](https://user-images.githubusercontent.com/13637803/82331783-0605ae80-99fe-11ea-9bd3-75124b1db959.

[2020-05-19 15:16] afc163 commented on #42
No error throw when using `antd-theme-generator@1.2.2` even without `antDir`. Is [V2](https://github.com/mzohaibqc/antd-theme-generator/commit/53c219ae2efbbcc71e38dbf9d3b386f7e7c79cc1) being released as `1.2.3` unexpectedly?

[2020-05-19 15:55] mzohaibqc commented on #42
@afc163 `antDir` parameter was always there since 1st version as you can see here

https://www.npmjs.com/package/antd-theme-generator/v/1.0.0

You are right that is was working before v1.2.3 without `antDir` but in order to fix some bugs, it is required now.

But even you comment `generateTheme(options);` line, it is still breaking as I added a screenshot above . `antd-pro-merge-less` is breaking

[2020-05-20 00:05] mzohaibqc commented on #39
@hellomrbigshot I release new version i.e. `antd-theme-generator@1.2.3` and respective webpack plugin `antd-theme-webpack-plugin@1.3.5` which includes some bug fixes and code improvements and reduced output `color.less` in size

Here is updated demo
https://mzohaibqc.github.io/antd-theme-generator/

code:
https://github.com/mzohaibqc/antd-theme-generator/tree/master/examples/customize-cra

[2020-05-20 07:26] chenshuai2144 commented on #42
antd-pro-merge-less will create file in _site folder.
you  can create _site folder, will fix this error

[2020-05-20 10:29] hellomrbigshot commented on #39
thank you, i will update my dependencies

[2020-05-21 10:16] cipchk opened #43 "Antd for Angular does not recognize antdStylesFile path"
https://github.com/mzohaibqc/antd-theme-generator/blob/master/index.js#L340

[code]

For antd for angular version `antd.less` should be `ng-zorro-antd.less`.

[2020-05-21 18:23] mzohaibqc commented on #43
@cipchk Show you configurations and also show directory structure of `node_modules/ng-zorro-antd`

[2020-05-22 06:30] cipchk commented on #43
@mzohaibqc https://unpkg.com/browse/ng-zorro-antd@9.1.2/

[2020-05-22 17:26] mzohaibqc commented on #43
@cipchk which means that it will not work as it is but if can handle path assumptions and allow some parameter which will allow users to pass custom paths for `antd.less` which is `https://unpkg.com/browse/ng-zorro-antd@9.1.2/ng-zorro-antd.less` in this case then it will work without any logic change. However, I am not sure I'll able to add this change over the weekend or not. If you or someone el

[2020-05-24 07:45] afc163 commented on #42
Problem still exists in https://github.com/ant-design/ant-design/pull/24324, `antd-pro-merge-less` has fixed it's problem.

[2020-05-25 09:31] mzohaibqc commented on #42
@afc163 Kindly have a look at this PR and merge it if looks good to you.

https://github.com/ant-design/ant-design/pull/24450

[2020-05-25 10:58] #42 closed

[2020-05-25 11:32] mzohaibqc commented on #42
Thanks, @afc163 for merging this PR. Let me know if you find some primary color not being updated on selecting different primary color from footer primary color selector.

[2020-06-01 06:46] hankaibo opened #44 "It's not work!"
[code]

color.js
[code]
variables.less
[code]

But, the color.less file it generates is a literal not a variable.
[code]
I hop it looks like
[code]
This is my index.html
[code]
Where did I use it wrong?

[2020-06-01 18:38] mzohaibqc commented on #44
Create a sample project on github and reproduce this. I'll look into that and will fix this issue

[2020-06-02 07:06] hankaibo commented on #44
This is my code.
[https://github.com/hankaibo/myantdpro/tree/feature/dynamic-theme](https://github.com/hankaibo/myantdpro/tree/feature/dynamic-theme)
I know it is a bit big.

[2020-06-03 04:56] mzohaibqc commented on #44
In you configurations, you are using `variables.less` where as it is `vars.less` in you styles directory. This is very important to use the right file containing your theme variables. Also, use `src` directory as your styles directory since some styles are in component folder as well.

[code]

Look at this sample color.js and follow this
https://github.com/mzohaibqc/antd-theme-generator/blob/maste

[2020-06-03 06:26] pengxue-net opened #45 "Why the checkbox and datepicker styles are incorrect?"
Why does datepicker have borders?（为什么checkbox不显示√,datepicker有边框?）
![{8378BE51-E245-41D1-8C3F-93BC5426BB10}_20200603142144](https://user-images.githubusercontent.com/59425304/83602960-185b1d00-a5a6-11ea-85c1-8cbc2fb90a9a.jpg)
![{F153DDB8-3E30-463B-87FB-F55A13A71D48}_20200603142202](https://user-images.githubusercontent.com/59425304/83602967-1b560d80-a5a6-11ea-8580-72ad55b137d1.jpg)

[2020-06-03 06:31] hankaibo commented on #44
Thanks for your reply.
I don't know why it is. When I execute node coler.js, I received this error: "error evaluating function `fade`: Argument cannot be evaluated to a color".
version: 1.2.3.

I don't know what to do, because there is an error it did not generate color.less file.
then, I use verison: 1.1.9，it's ok!!!

now, I use it at 1.1.9.

[2020-06-05 21:22] NitroBAY opened #46 "Breaks stats.json"
The fact it console.log Theme generated successfully breaks stats.json as the first line of stats.json becomes "Theme generated successfully" which makes the JSON invalid.

[2020-06-06 07:38] mzohaibqc commented on #46
@NitroBAY Do you think that I can help you after reading what you have written above? How I can know about your stats.json? How I can know what do you mean by "breaks stats.json"? Spend some time and learn how to report an issue.

Look at this issue, this is similar to your problem but he wrote the steps to reproduce and pasted the error
https://github.com/mzohaibqc/antd-theme-generator/issues/42

[2020-06-06 14:43] mzohaibqc commented on #45
@pengxue-net I've fixed the issue and published a new version of `antd-theme-generator@1.2.4`

Kindly update the package and it will be fixed

[2020-06-07 15:55] #41 closed

[2020-06-08 10:18] pengxue-net commented on #45
@mzohaibqc
I updated to version 1.2.4. The problem was solved, but the theme of the button was invalid. Version 1.2.2 is correct.

[2020-06-08 20:40] mzohaibqc commented on #45
What do you mean by `The problem was solved, but the theme of the button was invalid.`?
I tested and it's working fine.

[2020-06-09 01:16] pengxue-net commented on #45
@mzohaibqc
The date and checkbox problems have been solved, but my current button theme cannot be switched
(日期和checkBox问题已解决，但是在1.2.4中button主题没有切换，@btn-primary-bg变量已修改，在1.2.2中button主题切换是有效的)

[2020-06-09 11:03] mzohaibqc commented on #45
@pengxue-net I tested and it worked, it seems like your implementation issue. some custom style might be overriding your style

[2020-06-10 02:40] pengxue-net commented on #45
@mzohaibqc
我又重新测试了一遍，当调用
window.less.modifyVars({
      '@primary-color': color,
      '@btn-primary-bg': color
 })
修改主题时，所有主题都能正确改变，但是这时候我F5刷新界面之后，button的主题并没有被覆盖，这种情况您测试到没有，在antd-theme-generator 1.2.4之前版本是不会出现这种情况，代码如下：

vars.less：
@import "~antd/lib/style/themes/default.less";
@primary-color: #2F54EB;
@link-color: #2F54EB;
@btn-primary-bg: #2F54EB;
:root {
    --primaryColor: @primary-color;
 }

[2020-06-13 03:08] Jfelix61 opened #48 "[Enhancement] Change `hashCache` to include theme variables."
Before the issue, thanks for this amazing snippet!

I am creating two different stylesheets based on the same style directory. One for dark theme and another for the light theme. The only difference they have is the theme variables and output directory. However, I cannot call the function again and generate a new less stylesheet since it returns the old `cssCache` because the styles folder routes

[2020-06-13 03:12] #48 closed

[2020-06-13 10:42] mzohaibqc commented on #48
@Jfelix61 I wanted to ask, did you find a way to re-run this script with different variables? If yes, share it with the community so others can fix this if this happens to them and if not, I can add required changes to re-run this even styles content is the same but variables have changed.

Or even we can add an additional optional parameter to re-run forcefully.

[2020-06-13 21:15] Jfelix61 commented on #48
I was able to run it by modifying the source directly. However, better just to add an additional parameter.

Possible implementation:
[code]

[2020-06-17 09:07] OhYee opened #49 "color.less has unexcepted value"
**Describe the bug**
When I set themeVariables as all variables in dark.less, some values are unexcepted.

Using the code below, the `ant-tag-xxx` got the unexcepted value(backgroundcolor).
(Each run will have a different random unexcepted value of `ant-tag-xxx`)

Such as
[code]

**Show your code**
[code]

**Version**
1.2.4

[2020-06-18 06:37] mzohaibqc commented on #49
Do you have commented this line in your code

`varFile` is required and it affects generated color.less

[2020-06-18 11:00] fariellany opened #50 "Why is it invalid to use CSS custom variables"
**Describe the bug**
Describe your bug in English language

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2020-06-18 11:02] fariellany opened #51 "Why is it invalid to use CSS custom variables"
**Describe the bug**
Describe your bug in English language
Why is it invalid to use CSS custom variables
**Show your code**
Show your `config-overrides.js` file and styles folder structure

// variables.less
@import "~antd/lib/style/themes/default.less";

@link-color: #313653;
@primary-color: #313653;

:root {
    --PC: @primary-color;
}

//other.less

 .add {
        color: var(--PC);
    }

why

[2020-06-18 11:03] #50 closed

[2020-06-19 11:25] OhYee commented on #49
`./theme/vars.less` is just one line
[code]

This is just a demo for reproducing. And whether `varFile` is commented or not, the result is still problematic

[2020-06-19 16:52] mzohaibqc commented on #49
@OhYee You did not get my point. In your issue description, you have shown this configurations
[code]

In this code block, `varFile` parameter is commented. This should not be commented.

[2020-06-19 17:08] OhYee commented on #49
I'm sorry that In testing how to reproduce the problem, I forgot to restore the commented line.
I modified the code to look like the following, but the problem remains unresolved.

[code]

The antd-theme-generator does a pretty good job of implementing dynamic themes, with the only problem being that after implementing theme switches, the tag component has strange colors (which was not the case in

[2020-06-19 17:50] mzohaibqc commented on #49
@OhYee Just create a github project and reproduce your issue. I'll clone and will look into this.

[2020-06-19 18:55] OhYee commented on #49
I have created the project. Thanks for your help.

https://github.com/OhYee/reproduce/tree/master/antd-theme-generator

[2020-06-23 06:49] 520Yanxiaofei commented on #51
你好小姐姐，请问你解决了吗

[2020-06-29 02:34] fariellany commented on #51
你也遇到这个问题了吗

[2020-07-02 12:46] hankaibo commented on #44
hi,
1.2.4 isn't work.

[2020-07-03 07:15] mzohaibqc commented on #44
@hankaibo I would strongly suggest that use `examples/customise-cra` sample code. That is up to date and other examples are bit outdated and I could not spare much time to update all examples.

[2020-07-03 08:08] mzohaibqc commented on #51
I tried and it worked without an issue

![image](https://user-images.githubusercontent.com/13637803/86446482-7443cd80-bd2d-11ea-8726-f41df1429ff6.png)

But since this is not a less variable, so it will not be handled by theme plugin and will not get updated when user will update primary or any assigned variable color.

![image](https://user-images.githubusercontent.com/13637803/86446700-bb31c300-b

[2020-07-05 15:09] hankaibo commented on #44
Sorry, because I used css modules but antd-theme-generator isn't supported.
😭😭😭

[2020-07-05 15:09] #44 closed

[2020-07-06 09:08] mzohaibqc commented on #44
@hankaibo Thanks for reply.

So a note for others:
# css-moduels are not supported

[2020-07-13 10:21] jijigo commented on #49
also have this issue!

[2020-07-25 00:57] hekb001 commented on #51
我也遇到了同样的问题 ，root 里面定义的自定义样式没有打包进去，查看源码才知道，安装的最新版本，只会通过key:value，等方式覆盖antd默认样式，并不会追加。老版本1.1.9是直接追加上去，可以把root里面的加进去。

[2020-08-03 22:04] meftunca opened #55 "Not working"
Bug body =>

[code]

Desing =>

[code]

[2020-08-07 04:26] VictorPuga opened #56 "Is window.less available globally, between tabs?"
**Describe the bug**
I have been noticing that the colors in the production version of my app is affected when I have a local version running. For example, if I change a variable on localhost, my tab that is on [domain].com is also modified.

**Show your code**
Configs...
[code]
Function where I set the theme
[code]

**Screenshots**
Not applicable

**Version**
1.2.4

**Stack**
Next.JS 9.5.1
Antd 4

[2020-08-31 08:17] #46 closed

[2020-08-31 08:18] #20 closed

[2020-08-31 08:18] mzohaibqc commented on #21
It has been fixed, use latest version

[2020-08-31 08:18] #21 closed

[2020-08-31 08:19] mzohaibqc commented on #22
Not in scope

[2020-08-31 08:19] #22 closed

[2020-08-31 08:21] #24 closed

[2020-08-31 08:21] mzohaibqc commented on #38
Fixed and closed

[2020-08-31 08:21] #38 closed

[2020-08-31 08:23] mzohaibqc commented on #25
One can just get the generated less output and then write into a file of your own choice.

[2020-08-31 08:23] #25 closed

[2020-09-04 00:07] #14 closed

[2020-09-07 01:32] #43 closed

[2020-09-07 01:32] #45 closed

[2020-09-07 01:32] #39 closed

[2020-09-07 01:32] #29 closed

[2020-09-07 01:32] #31 closed

[2020-09-07 01:32] #26 closed

[2020-09-07 01:32] #27 closed

[2020-09-08 01:33] #17 closed

[2020-09-20 01:34] #49 closed

[2020-09-30 01:37] #51 closed

[2020-09-30 08:43] haichao0817 opened #58 "Is This Available On Vue Proejct?"
I tried to use this on vue project, but it doesn't work.

[2020-10-08 00:23] #55 closed

[2020-10-14 03:39] 1ncounter opened #61 "generated color.less will contain all antd styles ? why not only contain vars color classes?"
**Describe the bug**
Describe your bug in English language

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2020-10-14 21:00] mzohaibqc commented on #61
Can you explain bit more. Generated color.less does not contain all antd styles as you can see in this file https://github.com/mzohaibqc/antd-theme-generator/blob/master/examples/customize-cra/public/color.less

[2020-10-16 08:17] xch752 opened #62 "can it support vue3.0+vite+ant-design-vue@2.0.0-beta.10"
**Describe the bug**
I can use antd-theme-generator in vue2.x & ant-design-vue@1.6.5
but it dosent'work on vue3.0 & ant-design-vue@2.0.0-beta.10
**Show your code**

it works
[code]
not work
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2020-10-16 08:29] xch752 commented on #62
Both of two projects have {window.less} and use {window.less.modifyVars} successfully.
The high version project doesn't change the css ,But lower one works.

[2020-10-18 07:47] amirjr1378 opened #63 "doesnt support bug support"
**Describe the bug**
i want to chante @font-family variable too but my variable is gotten override.

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/49060396/96361531-6460c580-1133-11eb-843a-9974d8e28d5e.png)
![image](https://user-imag

[2020-10-18 16:15] mzohaibqc commented on #63
This package is only for color related theme/variables and does not support dynamic font.

[2020-10-19 05:06] #63 closed

[2020-10-20 19:53] jotamodesto opened #64 "Borders showing in Button type="link""
**Describe the bug**
Borders are showing on Button type="link" when it shouldn't. As shown in screenshots
This happened when I upgraded the antd-theme-webpack-plugin to 1.3.7.
I tried to revert the package version of the plugin to 1.3.6 but reinstalling the package using npm/yarn installed the 1.2.7 of antd-theme-generator.
I had to revert my yarn.lock to use the previous version and it worked jus

[2020-10-21 02:45] haichao0817 commented on #58
With version1.2.7,  when i run `node color.js`， commond line shows `LessError: error evaluating function 'darken': color.toHSL is not a function`,  But it's fine on version1.2.6

[2020-10-21 09:19] mzohaibqc commented on #58
Vue project? whiich one? which package. Add some details.

I can spend some time if you can reproduce this in a public github repo which I can clone and experiment with.

[2020-10-21 09:43] #64 closed

[2020-10-21 11:36] mzohaibqc commented on #62
I've to look into directory structure of ant-design-vue package inside node_modules.

Ant Design (React) has this structure

antd
  | lib
       | style (this is important)
       | button
       | date-picker
       | slider
       | more ....
  | dist

antd/lib/style contains themes and variables files e.g. antd/lib/style/themes/default.less

So if ant-design-vue does not have that struture then

[2020-10-21 11:39] mzohaibqc commented on #64
@jotamodesto Fixed this issue, update antd-theme-generator and antd-theme-webpack-plugin version to latest which ever you are using

antd-theme-generator@1.2.8
and-theme-webpack-plugin@1.3.8

### Note: and-theme-webpack-plugin uses antd-theme-generator internally and it juest provides webpack syntax for plugin to be used as webpack plugin

[2020-11-02 10:47] supermanfq opened #65 "关于color.less导出之后,样式错乱的问题"
今天遇到一个问题,在color.js的themeVariables注册@layout-header-background之后,输出color.less发现layout-header-background的样式不依赖@layout-header-background,而是依赖@menu-dark-highlight-color(也注册在themeVariables中),用的版本是1.1.7

[2020-11-03 08:23] mzohaibqc commented on #65
@supermanfq Have you tried latest version?

Try antd-theme-generator@1.2.8 or whatever latest version is available. Multiple bugs have been fixed in latest release

[2020-11-27 01:28] luocong2016 opened #66 "LessError: error evaluating function `darken`: color.toHSL is not a function"
**Describe the bug**
[code]

**Show your code**
[code]

[code]

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/25705196/100400790-a0703a00-3092-11eb-8679-5356dae1d170.png)

**Version**
[code]

[2020-12-06 09:15] liuzuwei012 commented on #66
你解决了吗？遇到了同样的问题

[2020-12-17 03:58] Donaldgljh opened #67 "How do I build in a build environment"
**Describe the bug**
Describe your bug in English language

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2020-12-21 10:12] dongyan2115726176 opened #68 "color.less Compile the linear gradient property, and the second color value is the variable value, which is expected to be a variable. The error version is 1.2.4"
**Describe the bug**
color.less Compile the linear gradient property, and the second color value is the variable value, which is expected to be a variable. The error version is 1.2.4

**Show your code**
ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-s

[2020-12-21 10:24] dongyan2115726176 commented on #68
result:
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-v

[2020-12-23 09:09] haichao0817 commented on #58
so sorry for forgetting to reply, It's useful in ant design vue

[2020-12-25 06:13] alex86gbk opened #69 "antDir hasn't been set default value, but call slice"
**Describe the bug**
`antDir` hasn't set default value, but call `slice`

**Show your code**

**Screenshots**
![image](https://user-images.githubusercontent.com/1990992/103122408-22b44400-46bb-11eb-88c1-c84b3316e5bc.png)

![image](https://user-images.githubusercontent.com/1990992/103122392-0adcc000-46bb-11eb-9c50-557671133d61.png)

**Version**
should set default value

[2021-01-06 06:16] ko06 commented on #66
@mzohaibqc Is any solution?

[2021-01-10 19:54] mzohaibqc commented on #66
1.2.8 version is compatible with antd@4.x.x

Try updating antd version and see if it solves your problem. If you can't update antd version then unfortunately you have to use some previous version of `antd-theme-generator` which is compatible with your version of antd but that might have bugs that has been fixed over time.

[2021-01-21 09:29] seed-fe commented on #66
Thanks for your comment！I have the same problem. My `antd` version is 3.19.1. Could you please tell me which version of `antd-theme-generator` is compatible with my version of antd?

[2021-01-21 10:09] ko06 commented on #66
@seed-fe, working fine in **antd-theme-generator@1.2.6:**

[2021-01-28 01:50] xiaohuoni commented on #41
When using less@3+, this problem still exists.
[code]
When using less@2.7.2 a, it works.

[2021-02-03 06:02] ccloveak commented on #28
你这个后来怎么解决的啊 我只能改antd的 @primary-color 我自己的样式 加上@primary-color 只能取到编译时候的值 。。。。跪求

[2021-02-10 09:17] mzohaibqc commented on #28
@ccloveak Are you facing any issue? I tried to underterstand by using Google translate but can you explain what's the issue you are facing.

[2021-02-12 14:41] ccloveak commented on #28
@mzohaibqc Thank you for your reply. I have a requirement for a dynamic theme color change. If I write style code like `color:@primary-color` on `*.module.less`, I can't dynamically change the color of this part. Do you have any ideas? Now I'm writing code like this
1.
![image](https://user-images.githubusercontent.com/38686314/107781360-2abf6480-6d8b-11eb-934c-cec4353f844c.png)
2.
![image](https:

[2021-02-16 08:58] anuragguptanbmc commented on #41
@xiaohuoni  If the in the script tag you are using less version 3+ update your code like this
`    <script>
      window.less = {
        async: false,
        env: 'production',
        javascriptEnabled: true,
      };
    </script>
    <script type="text/javascript" src="${options.lessUrl}"></script>`

[2021-02-16 09:12] anuragguptanbmc commented on #22
@mzohaibqc Can you please guide on how this can be achieved? I will try to write a new plugin if needed.

[2021-02-18 09:26] seed-fe commented on #66
Thanks a lot! Antd-theme-generator@1.2.6 works fine with antd@3.19.1.

[2021-02-22 01:55] feiqi80 opened #71 "TypeError: Expected a function from node_modules/lodash.flow/index.js:172"
**Describe the bug**
version 1.2.8 + antd4x, it works.
version 1.2.6 + antd3.19, it doesn't work, when use "npm start", the error appears.

[2021-02-24 20:34] david-soyez opened #72 "Override a non-color variable not working."
**Describe the bug**
This is my variables.less file, i'm changing ant variable @menu-item-padding
I understand that this script only extract colors but I can't even override a ant design padding variable. It seems that it's ignored or overwritten by this script.

**Show your code**
[code]

[2021-02-24 21:08] david-soyez commented on #33
I agree that it's for colors, but you can't even orverride a normal ant design variable since the script overwrite/ignore them after you declare them in your app.

[2021-02-25 07:00] mzohaibqc commented on #72
@david-soyez you need to pass that variable to less loader to override ant design padding when it will compile less files. You different  file for dynamic theme (let's say theme.less) and only add color related variables there and pass this file path as variables file in antd-theme-generator config object.

[2021-02-25 14:06] david-soyez commented on #72
Thanks a lot it worked! i wasted a day trying to fix that.

fyi here is the code:

[code]

[2021-02-25 14:07] #72 closed

[2021-04-08 10:46] alexeychirkov commented on #55
Same error...

[2021-04-21 12:28] geosigno opened #76 "All the less variables from ant d are generated in color.less"
Right now, the less.color is about 300kb at every load. This is very heavy, especially when you only want to change the primary color of ant-d.

Is it not the purpose of the themeVariables to only override those variable?

[2021-05-25 12:04] jellenm opened #83 "非颜色变量如何重置呢？"
非颜色变量如何重置呢？

[2021-05-25 12:05] jellenm commented on #83
ant design 自定义的非颜色变量如何修改？

[2021-05-25 12:43] #83 closed

[2021-06-07 09:28] CHU295 opened #85 "how"
**Describe the bug**
Describe your bug in English language

**Show your code**
Show your `config-overrides.js` file and styles folder structure

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest version, that may help

[2021-06-07 09:28] #85 closed

[2021-06-09 23:12] maateusilva opened #86 "error [LessError: error evaluating function `darken`: color.toHSL is not a function]"
**Describe the bug**
The `window.less.modifyVars` is not working due to an error while compiling Less when the project runs.
I found a workaround by commenting the line 17 from `index.js` of `antd-theme-generator` which is the line where the "darken" method is added to `COLOR_FUNCTIONS` constant, but I don't think this is the best approach.

The full error log on the console when I run the project

[2021-09-13 11:21] afc163 opened #92 "error TypeError: Cannot read property '1' of null"
<img width="1378" alt="图片" src="https://user-images.githubusercontent.com/507615/133074923-83bf8129-da52-4173-b0df-2e601ffeda32.png">

[code]

[2021-09-16 06:20] rongwei-alisa commented on #44
How did you solve it? I used css modules too

[2021-10-13 03:37] xiaochena opened #96 "less-bundle-promise报错"
我不太清楚具体发生了什么、但是当我将antd升级为4.17.0-alpha.5后发生了以下问题
[code]
似乎less-bundle-promise发生了问题

[2021-11-03 09:37] xingorg1 opened #97 "The resulting style file has redundant 'border-radius' attributes"
**Describe the bug**
When I have a 'border-radius' attribute in my style, the 'color.less' file still has the 'border-radius' attribute unculled.

**Show your code**
theme/default.less
[code]
color.less：
[code]

**Version**
I'm using the latest version

[2021-11-10 09:24] georgeneil opened #99 "Vulnerability Issue due to dependency postcss"
antd-theme-generator is using a vulnerable version of postcss as a dependency.

NVD CVE details below
https://nvd.nist.gov/vuln/detail/CVE-2021-23382

Can the postcss version upgraded to >8.2.13 ?

[2021-11-20 00:22] daichuqi commented on #96
+1

[2021-11-20 00:27] daichuqi commented on #96
I believe what's happening is that in 4.17.0 Antd added a less variable called **root-entry-name** in  /lib/style/themes/index.less. And Antd expect users to define this variable through webpack configuration and when less-bundle-promise is trying to read this this index.less the root-entry-name is not defined anywhere and throw an error

[2021-11-28 19:10] liukewia commented on #96
Hi, this problem has been there since antd v4.17.x, and there has been discussions like [https://github.com/ant-design/ant-design-pro/issues/9082#issuecomment-925609753](url).

The file `node_modules/antd/lib/style/themes/index.less` now should be rewritten by some webpack configurations. However, the `npm run color.js` command runs before the webpack starts.

The temporary solution is to change t

[2021-11-29 04:04] cl1107 opened #100 "antd after update to 4.17.2， generatorTheme will report Error"
**Describe the bug**
antd updated to 4.17.2， generatorTheme will report  Error: ENOENT: no such file or directory, open '{folder}/node_modules/antd/lib/style/themes/@{root-entry-name}.less'

[2021-11-29 09:32] yuepu commented on #100
me,too

`"antd": "^4.15.5",`

[2021-11-29 22:16] daichuqi commented on #100
+1

[2021-11-30 05:40] cl1107 commented on #100
temporary fix： node_modules/less-bundle-promise/lib/buildcontents.js  line 32
add hashPath = hashPath.replace(/@{root-entry-name}/g, 'default');
![image](https://user-images.githubusercontent.com/21985353/143991968-5f4a3922-9990-44c6-8915-cc11a3cfec5c.png)

[2021-12-08 11:32] ghost commented on #100
same here

[2021-12-13 16:05] rafaelncarvalho commented on #100
I have the same problem too

[2021-12-15 23:57] wkylin commented on #100
I have the same problem too

[2021-12-16 00:21] wkylin commented on #96
Thanks

But there's another problem

![image](https://user-images.githubusercontent.com/1208330/146285283-c9e987d0-bf36-4ee1-bd75-dbda4d6df40e.png)

[2021-12-16 05:58] yudidayeye commented on #100
+1

[2021-12-25 16:19] iaminnasr commented on #100
same here

[2021-12-28 07:21] zhanghui-space commented on #100
+1

[2021-12-31 09:18] JiangGeGe123 commented on #86
我遇到了同样的问题，请问怎么解决

[2022-01-03 13:46] mzohaibqc commented on #100
@cl1107 @yuepu @daichuqi @aniznik1 @rafaelncarvalho @yudidayeye @iaminnasr @gzhanghui
This issue has been fixed in version 1.2.11

Install new version `antd-theme-generator@1.2.11`

[2022-01-03 13:51] mzohaibqc commented on #96
This issue has been fixed in
`less-bundle-promise@1.0.11`
`antd-theme-generator@1.2.11`

[2022-01-03 13:51] #96 closed, assigned to nobody

[2022-01-03 13:51] #100 closed, assigned to nobody

[2022-01-06 03:16] atom-git opened #101 "ant design vue在新版本引用后提示自定义less解析错误问题"
**Describe the bug**
ant design vue import antd-theme-generator@1.2.11
**Error LessError: Cannot find module 'antd/lib/style/themes/default.less' from** error message
because of custom less compiler in line 352
![image](https://user-images.githubusercontent.com/76482041/148322662-a61da09f-fade-41fb-a28d-d9dd55b4060c.png)

please fix this problem and release a new version

[2022-02-23 03:37] vortesnail commented on #101
Same problem happend!!!!

[2022-02-23 03:48] vortesnail commented on #101
Code like this:
[code]

Wrong:
[code]

Please help. Thanks

[2022-02-23 05:43] mzohaibqc commented on #101
Any PRs are welcome.

On Wed, 23 Feb 2022, 8:48 am chen xin, ***@***.***> wrote:

[2022-02-24 08:51] no-simple commented on #101
可以降低版本试试。

[2022-02-25 06:26] Zex158 opened #111 "如果在新的文件修改了antd变量的值，编译到color.less时还是使用的预设的变量值（不使用该插件编译出的css文件是正常的）"
**Describe the bug**
两个问题：
一、

如果在新的文件修改了antd变量的值，编译到color.less时还是使用的预设的变量值（不使用该插件编译出的css文件是正常的）

在新的文件中设置了@btn-primary-bg: @theme-color，编译后的color.less中依然是@btn-primary-bg: @priamry-color。

**Show your code**
配置参数：
![image](https://user-images.githubusercontent.com/31839604/155664399-5d20911c-b139-486a-a0ac-a6fd666575a5.png)

目录结构：
![image](https://user-images.githubusercontent.com/31839604/1556644

[2022-04-25 06:39] BWmelon commented on #28
Same problem, did you solve it?

[2022-04-28 08:46] liuxinqiong commented on #55
Same error…

[2022-04-29 13:40] liuxinqiong opened #121 "[LessError: error evaluating function `ceil`: argument must be a number] when generateTheme in antd@4.18.2"
**Describe the bug**
When i use this library to generate antd theme, it's failed. And the error is throwed by less, just as the title say.

The important thing that i must need to clarify is, it's not the less version problem. my less version is v3.9.0.

After some debugger, I found the reason is that less content is invalid, I write the antdLess variable  to  file by using the below code.
[code]

[2022-05-03 09:15] kqme commented on #55
Same error…

[2022-05-07 02:41] xxl-007 commented on #66
mainLessFile未生效是什么原因吖

[2022-05-11 08:13] huangche007 commented on #101
是的，使用`ant3.x`后，就会报错`'Cannot find module \'antd/lib/style/themes/default.less\'`，各位大佬有解决方案没。
一些依赖如下：
`"vue": "^3.0.0",`
`"ant-design-vue": "3.1.1",`
`"antd-theme-generator": "^1.2.11",`

[2022-05-11 08:24] huangche007 commented on #101
我打开最新版`1.2.11`源码`index.js`中`362`行fileContent = `@import "~antd/lib/style/themes/default.less";\n@import `"${varPath}";\n${fileContent}`改成`fileContent = `@import "${varPath}";\n${fileContent}`;`就可以了

[2022-06-03 13:16] Ellathet opened #124 "Memo crashing in less hot update"
**BUG:**
- When hot update has maked and change any propy on less, the compilation of less or antd-theme-generator, idk, crashing my app, a try seting node memo to 8gb, and works, but the app got more slower, and crash sometimes when compilation.
- I got this warning below:
[code]

**This is my config-overrides.js:**
[code]
**Folder structure:**
![image](https://user-images.githubusercontent.com/7

[2022-07-07 21:07] TheShadowKnows opened #126 "ReducePlugin removes text-shadow declarations unexpectedly"
In the reducePlugin code, there is a statement that looks like this:
[code]

I had an issue with a text-shadow tag missing from the color.less file due to that statement.

The fix would be to remove the "box-" and just search for "shadow", so both box-shadow and text-shadow would be filtered out.

Thanks a lot for considering this patch.

[2022-07-07 21:11] TheShadowKnows commented on #126
I've created a pull request to contribute to the fix. GR.

[2022-07-26 04:21] SongJuXin opened #130 "Can we support stylesPath?"
# phenomenon description
In my less file, my code depends on the order in which CSS rules are written.`background-image` will expand `background`, this is what I want.

[code]
But when I use `antd-theme-generator` and specify`stylesDir` as `src`, the order of CSS rules will change. According to the observation, since `antd-theme-generator`  will process the `background attribute`, the `background

[2022-08-22 09:30] edison-tianhe commented on #49
The current version is 1.2.11, which also has this problem.
However, it is not necessary, and occasionally there is a problem with style confusion
bad
![image](https://user-images.githubusercontent.com/35984031/185888701-f4e27919-5457-4ed0-b80f-b8536059dec7.png)
good
![image](https://user-images.githubusercontent.com/35984031/185888776-75de2e10-28b5-4f66-a316-7dba1e23c2fb.png)

[2022-08-23 15:19] dbolan commented on #121
Hello! I ran into the same issue, removing `strictMath: true` from the less-loader options in the webpack config fixed it. This was with the base antd package, but hopefully it's still applicable to your case.

[2022-10-14 12:24] Samphon commented on #86
#### 提供一下我个人解决方案
我分析报错是处理`node_modules\antd\lib\table\style\index.less`这个代码文件时产生的, 这个文件为antd3版本的表格样式代码.  导致报错的具体原因不细究

三种解决方案如下:
1. 升级`antd`版本到4, 因为该代码是处理antd3的表格样式代码出现的;

2. 降级`antd-theme-generator`到`1.2.6版本`或者更老, 就不会出现报错. 如果用的是`antd-theme-webpack-plugin`插件, 需要想办法将其版本锁文件中的`antd-theme-generator`依赖项降级; (缺点是降级后的版本编译出的这段表格表头颜色的代码会出现异常,表现为: 筛选功能的表格hover颜色为随机色)

3. 解决antd的less代码导致的报错, 关键在于`themeVariabl

[2022-10-19 06:57] reai99 opened #132 "我使用组件遇到自定义样式被覆盖的情况，原因是老项目有定制样式，而克隆出来的antd样式覆盖了原样式"
**Describe the bug**
我使用组件遇到自定义样式被覆盖的情况，原因是老项目有定制样式，而克隆出来的antd样式覆盖了原样式

**Show your code**
可以使用如下组件， 基于antd-theme-generator进行修改，支持对非动态样式就行过滤替换掉，可以使用如下组件
[antd-theme-full-generator](https://github.com/reai99/antd-theme-full-generator)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Which version is installed in your application? Try using the latest versio

[2022-10-26 14:50] reai99 commented on #132
可以使用如下正则，移除没有变量的静态antd样式，这样静态的antd样式不会把原来的样式覆盖掉
css = css.replace(/^\.+?\w+[^{]+\{[^@={}]+}$/gm, '');